<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
<head th:fragment="headContent">
    <title th:replace=":: .pageTitle">Home</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="shrink-to-fit=yes">

        <!-- BootStrap -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
        <link rel="stylesheet", th:href="@{/styles.css}"/>
</head>
<body>

    <nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light">
        <span class="navbar-brand"><a class="removeBlue" th:href="@{/}">Astrology</a></span>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collaspe navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item" th:classappend="${#request.getServletPath() == '/login' ? 'active' : ''}"
                    th:if="${#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>

                <li class="nav-item" th:classappend="${#request.getServletPath() == '/register' ? 'active' : ''}"
                    th:if="${#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/register}">Sign Up</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/AstrologyMain' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/AstrologyMain}">Calculate Astrology</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/AstrologyMain/loginpage' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/AstrologyMain/loginpage}">My Account</a>
                </li>

                <li class="nav-item dropdown" th:classappend="${#request.getServletPath() == '/Horoscope' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Horoscope</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope}">Zodiacs</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Aquarius}">Aquarius</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Pisces}">Pisces</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Aries}">Aries</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Taurus}">Taurus</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Gemini}">Gemini</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Cancer}">Cancer</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Leo}">Leo</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Virgo}">Virgo</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Libra}">Libra</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Scorpio}">Scorpio</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Sagittarius}">Sagittarius</a>
                        <a class="dropdown-item" target="_blank" th:href="@{/Horoscope/Capricorn}">Capricorn</a>
                    </div>
                </li>


                <li class="nav-item" th:classappend="${#request.getServletPath() == '/DisplayAll/Tables' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/DisplayAll/Tables}">Database Admin</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <form method="POST" th:action="@{/logout}">
                        <input class="form-control" type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div th:fragment="image"  class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <h1>Astrology</h1>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="p-4 flex-fill">
                    <img th:src="@{/images/horoscope.png}" class="image" alt="An image with all the horoscope symbols and their names and dates."/>
                </div>

                <div class="p-4 flex-fill">
                    <p><b>Welcome to Astrology</b></p>
                    <p>What is Astrology?</p>
                    <p>Astrology calculates the following: <i>Animal Sign, Zodiac Sign, and Numerology</i></p>
                </div>
            </div>
        </div>

        <footer th:fragment="footer" >
            <p><br/> &copy; Copyright @ 2020 Samuel Puchinskiy CS-321-1 Server Side Web Development <a th:href="@{/}"><b>Home</b></a></p>
        </footer>
    </div>


    <th:block th:fragment="scripts">
    <!-- BootStrap -->
        <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    </th:block>
</body>
</html>