<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/base :: headContent"></head>

<body>

<body>

    <div th:replace="fragments/base :: navgation"></div>

    <div class="container-fluid mt-5">

        <div class="row justify-content-center" th:object="${session.user}">
            <h2 class="font-italic">Hi, <span th:text="${fullname}">User Name</span> </h2>
        </div>

        <div class="row justify-content-center">
            <h2>Design your taco!</h2>
        </div>

        <div th:replace="fragments/base :: appImage"></div>
    </div>


    <form class="container-fluid"  method="post" th:object="${taco}">

        <!-- <span class="validationError"
              th:if="${#fields.hasErrors('ingredients')}"
              th:errors="*{ingredients}">Ingredient Error</span> -->
        <div class="container-fluid from-line-height">
            <div class="row justify-content-center" th:if="${#fields.hasErrors('ingredients')}">
                <span class="text-danger col-5 text-left pl-0 pr-0" th:errors="*{ingredients}">Ingredients Error</span> <br/><br/>
                <span class="col-1"></span>
            </div>

            <div class="row row-cols-6 justify-content-center mb-3">
                <h4 class="col-6 text-left pl-0 font-weight-bold">Wraps: </h4>
            </div>
            <div class="row row-cols-6 justify-content-center mb-3">
                    <div class="col-3 form-check form-check-inline" th:each="ingredient : ${wrap}">
                        <input class="form-check-inline text-left" name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                        <label class="form-check-label" th:for="${ingredient.id}" th:text="${ingredient.name}">INGREDIENT</label><br/>
                    </div>
            </div>

            <div class="row row-cols-6 justify-content-center mb-3">
                <h4 class="col-6 text-left pl-0 font-weight-bold">Protein: </h4>
            </div>
            <div class="row row-cols-6 justify-content-center mb-3">
                <div class="col-3 form-check form-check-inline" th:each="ingredient : ${protein}">
                    <input class="form-check-inline text-left" name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <label class="form-check-label" th:for="${ingredient.id}" th:text="${ingredient.name}">INGREDIENT</label><br/>
                </div>
            </div>

            <div class="row row-cols-6 justify-content-center mb-3">
                <h4 class="col-6 text-left pl-0 font-weight-bold">Cheese: </h4>
            </div>
            <div class="row row-cols-6 justify-content-center mb-3">
                <div class="col-3 form-check form-check-inline" th:each="ingredient : ${cheese}">
                    <input class="form-check-inline text-left" name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <label class="form-check-label" th:for="${ingredient.id}" th:text="${ingredient.name}">INGREDIENT</label><br/>
                </div>
            </div>

            <div class="row row-cols-6 justify-content-center mb-3">
                <h4 class="col-6 text-left pl-0 font-weight-bold">Veggies: </h4>
            </div>
            <div class="row row-cols-6 justify-content-center mb-3">
                <div class="col-3 form-check form-check-inline" th:each="ingredient : ${veggies}">
                    <input class="form-check-inline text-left" name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <label class="form-check-label" th:for="${ingredient.id}" th:text="${ingredient.name}">INGREDIENT</label><br/>
                </div>
            </div>

            <div class="row row-cols-6 justify-content-center mb-3">
                <h4 class="col-6 text-left pl-0 font-weight-bold">Sauce: </h4>
            </div>
            <div class="row row-cols-6 justify-content-center mb-3">
                <div class="col-3 form-check form-check-inline" th:each="ingredient : ${sauce}">
                    <input class="form-check-inline text-left" name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <label class="form-check-label" th:for="${ingredient.id}" th:text="${ingredient.name}">INGREDIENT</label><br/>
                </div>
            </div>

            <div class="row justify-content-center form-group mt-5 mb-2">
                    <h4 class="col-6 text-left pl-0 font-weight-bold">Name your taco creation:</h4>
            </div>
            <div class="row justify-content-center form-group mb-3">
                <input class="col-4 pl-0 border border-dark" type="text" th:field="*{name}"/>
                <span class="col-2"></span>
            </div>

            <div class="row justify-content-center" th:if="${#fields.hasErrors('name')}">
                <span class="text-danger col-5 text-left pl-0 pr-0" th:errors="*{name}">Name Error</span><br/><br/>
                <span class="col-1"></span>
            </div>
            <div class="row form-group mt-3 justify-content-center">
                <input class="btn btn-outline-dark btn-lg col-m2-2 form-group" type="submit" value="Submit your taco"/><br/>
                <span class="col-4"></span>
            </div>
        </div>
    </form>


    <!-- BootStrap -->
    <th:block th:insert="fragments/base :: scripts"></th:block>
</body>
</html>