<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">

<head th:insert="fragments/base :: headContent"></head>

<body>
<body>

    <div th:replace="fragments/base :: navgation"></div>


    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <h1>Login to Taco Cloud</h1>
        </div>
        <div th:replace="fragments/base :: appImage"></div>
    </div>

    <div th:if="${error}">
        Unable to login. Check your username and password.
    </div>
    <!--   <p>New here? Click <a th:href="@{/register}">here</a> to register.</p> -->

    <form class="container-fluid" method="post" th:action="@{/login}" id="loginForm">
        <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold" for="username">Username: </label>
            <input class="form-control col-5 col-md-2" type="text" th:name="username" id="username"/> <br/> <br/>
        </div>

        <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold" for="password">Password: </label>
            <input class="form-control col-5 col-md-2" type="text" th:name="password" id="password"/> <br/> <br/>
        </div>

        <div class="row form-group justify-content-center">
            <span class="col-6 col-md-3"></span>
            <input class="col-1 form-control" type="submit" value="Login"/>
        </div>
    </form>



    <!-- BootStrap -->
    <th:block th:insert="fragments/base :: scripts"></th:block>
</body>
</html>