<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:insert="fragments/base :: headContent"></head>

<body>
    <div th:replace="fragments/base :: navgation"></div>

    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <h1 class="col-12 text-center">Here are your orders!</h1>
        </div>
        <div th:replace="fragments/base :: appImage"></div>
    </div>

    <div class="container-fluid mt-4" th:each="order : ${orders}">
        <div class="row justify-content-center mt-2">
            <div class="col-4 text-left">
                Order date: <span th:text="${#temporals.format(order.placedAt, 'dd-MMM-yyyy HH:mm')}">DATE</span>
            </div>
        </div>

        <div class="container-fluid mt-2" th:each="taco: ${order.tacos}">
            <div class="row justify-content-center">
                <div class="col-3 text-left">
                    Taco Name: <span th:text="${taco.name}">Name</span>
                </div>
                <div class="col-3 text-left"> <!--Goes to a path and takes an ID and gets the values from the object, this parameter has the url-->
                    <a th:href="@{/modify/{tacoId}(tacoId=${taco.id})}" class="btn btn-sm btn-dark">Update Taco</a>
                </div>
            </div>

            <div class="row justify-content-center mt-1 mb-3">
                <div class="col-3 text-left">
                    Taco Ingredients:
                </div>
                <div class="col-3 text-left text-wrap">
                    <span th:each="ingredient: ${taco.ingredients}">
                        <span th:text="${ingredient.name}">NAME</span>
                    </span>
                </div>
            </div>

        </div>

    </div>

    <!-- BootStrap -->
    <th:block th:insert="fragments/base :: scripts"></th:block>
</body>
</html>