<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">

<head th:insert="fragments/base :: headContent">
    <title class="pageTitle">Edit</title>
</head>

<body>
    <div th:replace="fragments/base :: navigation"></div>

    <div class="container mt-5">
        <div th:replace="fragments/base :: image"> </div>

        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div>
                    <h3>Please edit the birthday below to recalculate the Zodiac, Birthday, and Numerology</h3>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div>
                    <p>
                        Editing the following: <div class="form-control"> <span th:text="${userMonth}">Month</span>&nbsp;<span th:text="${userDay}">Day</span>,&nbsp;<span th:text="${userYear}">Year</span>&nbsp;</div>
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-1 mt-3">
                <form method="post" th:action="@{/modify/edits/{birthdayId}(birthdayId=${birthdayId})}" th:object="${birthdayUser}">

                    <div class="p-2">
                        <p>
                            <b>Please choose your birth year: </b>
                            <select class="form-control"  name="birthYearUser">
                                <div th:each="y : ${year}" class="form-group">
                                    <option th:text="${y.name}">Year
                                        <span class="validationError"
                                              th:if="${#fields.hasErrors('birthYearUser')}"
                                              th:errors="*{birthYearUser}">Year Error
                                        </span>
                                    </option>
                                </div>
                            </select>
                        </p>
                    </div>
                    <div class="p-2">
                        <p>
                            <b>Please choose your birth month: </b>
                            <select class="form-control" name="birthMonthUser">
                                <div th:each="m : ${months}" class="form-group">
                                    <option th:text="${m.name}">MONTH
                                        <span class="validationError"
                                              th:if="${#fields.hasErrors('birthMonthUser')}"
                                              th:errors="*{birthMonthUser}">Month Error
                                        </span>
                                    </option>
                                </div>
                            </select>
                        </p>
                    </div>
                    <div class="p-2">
                        <p>
                            <b>Please choose your birth day: </b>
                            <select class="form-control" name="birthDayUser">
                                <div th:each="d : ${days}" class="form-group">
                                    <option th:text="${d.name}">Day Error
                                        <span class="validationError"
                                              th:if="${#fields.hasErrors('birthDayUser')}"
                                              th:errors="*{birthDayUser}">Day Error
                                        </span>
                                    </option>
                                </div>
                            </select>
                        </p>
                    </div>
                    <div class="p-2">
                        <span class=""></span>
                        <button type="button" class="form-control form-signin-box" ><a th:href="@{/AstrologyMain/loginpage}">Cancel</a></button> <br/>
                        <input class="form-control form-signin-box" type="submit" value="Update"/>
                    </div>
                </form>
            </div>
        </div>

        <div th:replace="fragments/base :: footer"></div>
    </div>

    <!-- BootStrap -->
    <th:block th:insert="fragments/base :: scripts"></th:block>
</body>
</html>