<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Astrology App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet", th:href="@{styles.css}"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row h-100">
        <div class="col-sm-12 auto">
            <div class="card card-block w-75 mx-auto">

                <h1 class="title">The Astrology App - Main Page</h1>

                <div class="row">

                    <div class="col-4">
                        <img th:src="@{images/horoscope.png}" class="responsive" width="100%"  height="100%" alt="An image with all the horoscope symbols and their names and dates."/>
                    </div> <!-- closes col1 -->

                    <div class="col-8">
                        <div class="home-text">
                            <p><a th:href="@{/DisplayAll/Tables}"><b>Database - Table Data (Click Here)</b></a></p>
                        </div>

                        <div class="home-text">
                            <p><a th:href="@{/AstrologyMain/loginpage}"><b>Your Account</b></a></p>
                        </div>

                        <div class="home-text">
                            <p><a th:href="@{/}"><b>Log Out</b></a></p>
                        </div>

                        <form method="post" th:object="${birthdayUser}">

                            <div>
                                <p id="birthyear">
                                    <b>Please choose your birth year: </b>
                                    <select name="birthYearUser">
                                        <div th:each="y : ${year}" class="form-group">
                                            <option th:text="${y.name}">Year
                                                <span class="validationError"
                                                      th:if="${#fields.hasErrors('birthYearUser')}"
                                                      th:errors="*{birthYearUser}">Year Error
                                               </span>
                                            </option>
                                        </div>
                                    </select>
                                </p>
                            </div>

                            <div>
                                <p id="birthmonth">
                                    <b>Please choose your birth month: </b>
                                    <select name="birthMonthUser">
                                        <div th:each="m : ${months}" class="form-group">
                                           <option th:text="${m.name}">MONTH
                                               <span class="validationError"
                                                     th:if="${#fields.hasErrors('birthMonthUser')}"
                                                     th:errors="*{birthMonthUser}">Month Error
                                               </span>
                                           </option>
                                        </div>
                                    </select>
                                </p>
                            </div>

                            <div> <!-- Not yet implemented (need to include other months, like 30, 28, and leap year, 29)-->
                                <p id="birthday">
                                    <b>Please choose your birth day: </b>
                                    <select name="birthDayUser">
                                        <div th:each="d : ${days}" class="form-group">
                                            <option th:text="${d.name}">Day Error
                                                <span class="validationError"
                                                      th:if="${#fields.hasErrors('birthDayUser')}"
                                                      th:errors="*{birthDayUser}">Day Error
                                               </span>
                                            </option>
                                        </div>
                                    </select>
                                </p>
                            </div>
                            <div>
                                <button class="btn btn-secondary btn-lg btn-block">Submit</button>
                            </div>
                        </form>
                    </div> <!-- closes col2 -->
                </div> <!-- closes row -->
                <footer>
                    <p><br/> &copy; Copyright @2020 Samuel Puchinskiy CS-321-1 Server Side Web Development <a th:href="@{/}"><b>Home</b></a></p>
                </footer> <!-- closes footer -->

            </div> <!-- to center page -->
        </div> <!-- to center page -->
    </div> <!-- to center page -->

</body>
</html>