<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <meta name="viewport" content="shrink-to-fit=yes">

    <!-- BootStrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet", th:href="@{/styles.css}"/>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <span class="navbar-brand">Astrology</span>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collaspe navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item" th:classappend="${#request.getServletPath() == '/login' ? 'active' : ''}"
                    th:if="${#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>

                <li class="nav-item" th:classappend="${#request.getServletPath() == '/register' ? 'active' : ''}"
                    th:if="${#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/register}">Sign Up</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/AstrologyMain' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/AstrologyMain}">Calculate Astrology</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/AstrologyMain/loginpage' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/AstrologyMain/loginpage}">My Account</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/DisplayAll/Tables' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <a class="nav-link" th:href="@{/DisplayAll/Tables}">Database Admin</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}"
                    th:if="${!#authentication.getName().equals('anonymousUser')}" >
                    <form method="POST" th:action="@{/logout}">
                        <input class="form-control" type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">

        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <h1>Astrology</h1>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="p-4 flex-fill">
                    <img th:src="@{/images/horoscope.png}" class="image" alt="An image with all the horoscope symbols and their names and dates."/>
                </div> <!-- closes col1 -->

                <div class="p-4 flex-fill">
                    <p><b>Welcome to Astrology</b></p>
                    <p>What is Astrology?</p>
                    <p>Astrology calculates the following: <i>Zodiac, Horoscope, and Numerology</i></p>
                </div> <!-- closes col2 -->
            </div>
        </div>

        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <h1>Database Admin</h1>
            </div>

            <div class="d-flex justify-content-center mb-1 mt-3">
                <!--TABLE DATA-->
                <div class="p-2 border" >
                    <h2>Month Table</h2>
                    <div th:each="bm : ${months}">
                        <p class="border">Month ID: <span th:text="${bm.monthID}">Month ID</span> ~ Month Name: <span th:text="${bm.name}">Month Name</span> </p>
                    </div>
                </div>

                <div class="p-2 border">
                    <h2>Day Table</h2>
                    <div th:each="d : ${days}">
                        <p class="border">Day ID: <span th:text="${d.dayID}">Day ID</span> ~ Day Name: <span th:text="${d.name}">Day Name</span> </p>
                    </div>
                </div>

                <div class="p-2 border">
                    <h2>Year Table</h2>
                    <div th:each="yr : ${year}">
                        <p class="border">Year ID: <span th:text="${yr.yearID}">Year ID</span> ~ Year Name: <span th:text="${yr.name}">Year Name</span> </p>
                    </div>
                </div>

                    <!--
                        USER DATA TABLE DOES NOT DROP, USER DATA UPDATES AUTOMATICALLY TO PAGE
                        All months are 31 days and does not account for Leap year yet
                    -->

                <div class="p-2 border">
                    <h2>User Data Table</h2>
                    <div th:each="user : ${bday}">
                        <p class="border">
                            User Birthday ID: <span th:text="${user.id}">User ID</span>
                            ~ User Birth Year: <span th:text="${user.birthYearUser}">Year</span>
                            ~ User Birth Month: <span th:text="${user.birthMonthUser}">Month</span>
                            ~ User Birth Day: <span th:text="${user.birthDayUser}">Day</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <footer>
            <p><br/> &copy; Copyright @ 2020 Samuel Puchinskiy CS-321-1 Server Side Web Development <a th:href="@{/}"><b>Home</b></a></p>
        </footer>
    </div>
    <!--

    <div class="row h-100">
        <div class="col-sm-12 auto">
            <div class="card card-block w-75 mx-auto">

                <h1 class="title">The Astrology App Database</h1>

                <div class="row">

                    <div class="col-4">
                        <img th:src="@{/images/horoscope.png}" class="responsive" width="100%"  height="100%" alt="An image with all the horoscope symbols and their names and dates."/>
                    </div>

                    <div class="col-8" th:object="${session.user}">
                        <p class="home-text">Welcome to the Database Page</p>

                        <div>
                            <p class="home-text">
                                <b>Table Database Page</b>
                            </p>
                        </div>
                        <div>
                            <p class="home-text">
                                <b>All four tables are listed below.</b>
                            </p>
                        </div>
                        <div>
                            <p class="home-text">
                                <a th:href="@{/AstrologyMain}"><b>Calculate your Astrology here!</b></a>
                            </p>
                        </div>

                        <div class="home-text">
                            <p><a th:href="@{/}"><b>Log Out</b></a></p>
                        </div>

                    </div>
                </div>



                <div id="table">
                    <div class="tables">
                        <h3 class="tabHead">Month Table</h3>
                        <div th:each="bm : ${months}">
                            <p>Month ID: <span th:text="${bm.monthID}">Month ID</span> ~ Month Name: <span th:text="${bm.name}">Month Name</span> </p>
                        </div>
                    </div>

                    <div class="tables">
                        <h3 class="tabHead">Day Table</h3>
                        <div th:each="d : ${days}">
                            <p>Day ID: <span th:text="${d.dayID}">Day ID</span> ~ Day Name: <span th:text="${d.name}">Day Name</span> </p>
                        </div>
                    </div>

                    <div class="tables">
                        <h3 class="tabHead">Year Table</h3>
                        <div th:each="yr : ${year}">
                            <p>Year ID: <span th:text="${yr.yearID}">Year ID</span> ~ Year Name: <span th:text="${yr.name}">Year Name</span> </p>
                        </div>
                    </div>


                    <div class="tables">
                        <h3 class="tabHead">User Data Table</h3>
                        <div th:each="user : ${bday}">
                            <p>
                                User Birthday ID: <span th:text="${user.id}">User ID</span>
                                ~ User Birth Year: <span th:text="${user.birthYearUser}">Year</span>
                                ~ User Birth Month: <span th:text="${user.birthMonthUser}">Month</span>
                                ~ User Birth Day: <span th:text="${user.birthDayUser}">Day</span>
                            </p>
                        </div>
                    </div>
                </div>

                <footer>
                    <p><br/> &copy; Copyright @2020 Samuel Puchinskiy CS-321-1 Server Side Web Development <a th:href="@{/}"><b>Home</b></a></p>
                </footer>

            </div>
        </div>
    </div>
    -->


    <!-- BootStrap -->
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>