<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Astrology App</title>



    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet", th:href="@{styles.css}"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

    <h1>The Astrology App</h1>


    <div class="container">
        <div id="home">
            <div>
                <img th:src="@{images/horoscope.png}" class="responsive" width="80%"  height="50%" alt="An image with all the horoscope symbols and their names and dates."/>
            </div>
            <div>
                <p id="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius, justo non egestas egestas, nibh velit dictum augue, nec tristique sem est ut tellus. Nullam et erat elit. Nunc faucibus tincidunt accumsan. Quisque nisi erat, pretium consectetur magna vel, interdum vehicula est. Aliquam a mattis nibh. Praesent fringilla vehicula neque sit amet condimentum. In ornare magna enim, et egestas orci fringilla ut. Nulla mi elit, vestibulum vitae enim vehicula, tincidunt sodales nulla. Duis scelerisque, leo vitae iaculis vehicula, justo lorem pretium nibh, ut dapibus ipsum lectus vel arcu. Fusce a dapibus arcu.</p>
            </div>
        </div>
    </div>

    <footer>
        <p>
            &copy; Copyright @2020 Samuel Puchinskiy CS-321-1 Server Side Web Development
        </p>
    </footer>

</body>
</html>