<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">

<head th:insert="fragments/base :: headContent">
    <title class="pageTitle">Horoscope</title>
</head>

<body>

    <div th:replace="fragments/base :: navigation"></div>

    <div class="container mt-5">
        <div th:replace="fragments/base :: image"> </div>


        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <h1>Here are the Yearly Horoscopes for each Zodiac</h1>
            </div>
        </div>

        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Aquarius</h2>
                    <p>January 20 - February 18</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Pisces</h2>
                    <p>February 19 - March 20</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Aries</h2>
                    <p>March 21 - April 19</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Taurus</h2>
                    <p>April 20 - May 20</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Gemini</h2>
                    <p>May 21 - June 20</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Cancer</h2>
                    <p>June 21 - July 22</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Leo</h2>
                    <p>July 23 - August 22</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Virgo</h2>
                    <p>August 23 - September 22</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Libra</h2>
                    <p>September 23 - October 22</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Scorpio</h2>
                    <p>October 23 - November 21</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Sagittarius</h2>
                    <p>November 22 - December</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Aquarius</h2>
                    <p>January 20 - February</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>
        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <div class="p-2">
                    <h2>Capricorn </h2>
                    <p>December 22 - January 19</p>
                    <i>The best for last</i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec eleifend magna. Nullam vulputate lectus eu volutpat elementum. Phasellus vel auctor diam. Aenean porttitor placerat nulla in malesuada. Nullam eget enim eu justo consectetur volutpat. Pellentesque pulvinar ut tellus ac suscipit. Donec id tellus eget mi ullamcorper imperdiet. Praesent ultrices nunc neque, vel lacinia tortor ullamcorper eu. Ut tempor tortor et sem finibus hendrerit. Praesent diam risus, semper sit amet mauris id, aliquam venenatis orci.</p>
                </div>
            </div>
        </div>






        <div th:replace="fragments/base :: footer"></div>
    </div>

    <!-- BootStrap -->
    <th:block th:insert="fragments/base :: scripts"></th:block>`
</body>
</html>