<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">

<head th:insert="fragments/base :: headContent">
    <title class="pageTitle">My Account</title>
</head>


<body>

    <div th:replace="fragments/base :: navigation"></div>

    <div class="container mt-5">

        <div th:replace="fragments/base :: image"> </div>

        <div class="normal">

            <div class="d-flex justify-content-center mb-1 mt-3">
                <h1>My Account</h1>
            </div>

            <div class="d-flex flex-row justify-content-left mb-1">
                <p>Welcome <b><span th:text="${fullname}">User Name</span></b> to your user portal</p>
            </div>
            <div class="d-flex flex-row justify-content-left mb-1">
                <p>Your ID: <b><span th:text="${id}">User ID</span></b></p>
            </div>
            <div class="d-flex flex-row justify-content-left mb-1">
                <p>Your birthday is: <b><span th:text="${userBirthday}">User Birthday</span></b></p>
            </div>
        </div>

        <div class="normal">
            <div class="d-flex flex-row justify-content-center mb-1 mt-3">
                <h1>Your Activity:</h1>
            </div>
        </div>

        <div class="results d-flex flex-row justify-content-center mb-1 mt-3" th:each="user : ${bdayUsers}">
            <div>
                <p>For&nbsp;<i><span th:text="${user.birthMonthUser}">Month</span> &nbsp;<span th:text="${user.birthDayUser}">Day</span>,&nbsp;<span th:text="${user.birthYearUser}">Year</span></i>:&nbsp;&nbsp;</p>
                <p>Zodiac Animal:&nbsp;<i><span th:text="${user.yearZodiac}"></span>&nbsp;</i></p>
                <p>Horoscope:&nbsp;<i><span th:text="${user.monthZodiac}"></span>&nbsp;</i></p>
                <p>Numerology:&nbsp;<i><span th:text="${user.numerology}"></span>&nbsp;</i></p>
            </div>
        </div>




        <div th:replace="fragments/base :: footer"></div>

    </div>

<!--
<div class="row h-100">
    <div class="col-sm-12 auto">
        <div class="card card-block w-75 mx-auto">

            <h1 class="title">The Astrology App - User Portal</h1>

            <div class="row">

                <div class="col-4">
                    <img th:src="@{/images/horoscope.png}" class="responsive" width="100%"  height="100%" alt="An image with all the horoscope symbols and their names and dates."/>
                </div>

                <div class="col-8" th:object="${session.user}">

                    <div class="normal">
                        <p>Welcome <b><span th:text="${fullname}">User Name</span></b> to your user portal</p>
                        <p>Your ID: <b><span th:text="${id}">User ID</span></b> </p>
                    </div>

                    <div class="normal">
                        <p>Your birthday is: <b><span th:text="${userBirthday}">User Birthday</span></b></p>
                    </div>

                    <div class="normal">
                        <p>Below is your history activity</p>
                    </div>
                    <div>
                        <p class="normal">
                            <a th:href="@{/AstrologyMain}"><b>Calculate your Astrology here!</b></a>
                        </p>
                    </div>

                    <div class="home-text">
                        <p><a th:href="@{/}"><b>Log Out</b></a></p>
                    </div>
                </div>
            </div>


                <div class="tables">
                    <h3 class="tabHead">Your Activity:</h3>
                    <div th:each="user : ${bdayUsers}">
                        <p>
                            User Birthday ID: <span th:text="${user.id}">User ID</span>
                            ~ User Birth Year: <span th:text="${user.birthYearUser}">Year</span>
                            ~ User Birth Month: <span th:text="${user.birthMonthUser}">Month</span>
                            ~ User Birth Day: <span th:text="${user.birthDayUser}">Day</span>
                        </p>
                    </div>
                </div>

            <footer>
                <p><br/> &copy; Copyright @2020 Samuel Puchinskiy CS-321-1 Server Side Web Development <a th:href="@{/}"><b>Home</b></a></p>
            </footer>

        </div>
    </div>
</div> -->


    <!-- BootStrap -->
    <div th:insert="fragments/base :: scripts"></div>
</body>
</html>