<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">

<head th:insert="fragments/base :: headContent">
    <title class="pageTitle">Results</title>
</head>

<body>

    <div th:replace="fragments/base :: navigation"></div>

    <div class="container mt-5">
        <div th:replace="fragments/base :: image"> </div>

        <div class="normal">
            <div class="d-flex justify-content-center mb-1 mt-3">
                <h1>Thank you for your submission.</h1>
            </div>
            <div class="d-flex justify-content-center mb-1 mt-3">
                <h1>The Astrological results are in your account page now.</h1>
            </div>
        </div>

        <div th:replace="fragments/base :: footer"></div>
    </div>

    <!-- To be Implemented -
                   A Java file to calculate the user's astrology sign: zodiac, horoscope, numerology, plus more
                   And added to the user's activity and database history -->

    <!--
    <div class="row h-100">
        <div class="col-sm-12 auto">
            <div class="card card-block w-75 mx-auto">

                <h1 class="title">The Astrology App - Results</h1>

                <div class="row">

                    <div class="col-4">
                        <img th:src="@{/images/horoscope.png}" class="responsive" width="100%"  height="100%" alt="An image with all the horoscope symbols and their names and dates."/>
                    </div>

                    <div class="col-8">
                        <div class="home-text">
                            <p><a th:href="@{/DisplayAll/Tables}"><b>Database - Table Data (Click Here)</b></a></p>
                        </div>

                        <div class="home-text">
                            <p><a th:href="@{/AstrologyMain/loginpage}"><b>Your Account</b></a></p>
                        </div>

                        <div class="home-text">
                            <p><a th:href="@{/}"><b>Log Out</b></a></p>
                        </div>

                        <div class="normal">
                            <p>Thank you for your submission.</p>
                        </div>
                        <div class="normal">
                            <p>Here would be the results.</p>
                        </div>
                        <div>
                            <p id="birthday">
                                <a th:href="@{/AstrologyMain}"><b>Back</b></a>
                            </p>
                        </div>

                    </div>
                </div>


                <footer>
                    <p><br/> &copy; Copyright @2020 Samuel Puchinskiy CS-321-1 Server Side Web Development <a th:href="@{/}"><b>Home</b></a></p>
                </footer>

            </div>
        </div>
    </div>
    -->


    <!-- BootStrap -->
    <div th:insert="/fragments/base :: scripts"></div>
</body>
</html>