body {
    marign:auto;
}

.title {
    margin: 3%;
    font-family: Comic Sans MS;
    font-size:350%;
    text-align: center;
}

.normal {
    font-family: Comic Sans MS;
    font-size:200%;
    margin:1%;
    padding:1%;
    background: #f9f9f9;
}

.formInput {
    font-family: Comic Sans MS;
    font-size:150%;
    margin:1%;
    padding:1%;
    background: #f9f9f9;
}

footer {
    font-size:80%;
    padding: 1%;
    margin: 1%;
}

.home-text {
    font-size:150%;
    margin:1%;
    padding:1%;
    background: #f9f9f9;
}

.responsive {
    margin:1%;
    padding:1%;
}

#birthmonth {
    font-family: Comic Sans MS;
    font-size:150%;
    margin:1%;
    padding:1%;
    background: #f9f9f9;
}

#birthyear {
    font-family: Comic Sans MS;
    font-size:150%;
    margin:1%;
    padding:1%;
    background: #f9f9f9;
}

#birthday {
    font-family: Comic Sans MS;
    font-size:150%;
    margin:1%;
    padding:1%;
    background: #f9f9f9;
}

#name {
    font-family: Comic Sans MS;
    font-size:150%;
    margin:1%;
    padding:1%;
    background: #f9f9f9;
}

.validationError {
    color: #ff0000;
}

#table {
    font-family: Courier New;
    margin:1%;
    padding:1%;
}

.tables {
    font-size:120%;
    margin:2%;
    padding:1%;
    background: #f9f9f9;
}

.tabHead {
    font-family: Lucida Console;
    font-size: 150%;
}